.shop-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  margin: 10px;
  background-color: #c5d6a1;
}

.box {
  width: 300px;
  background-color: #a0bec6;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s;
}

.box:hover {
  transform: translateY(-5px);
}

.box-img {
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin-bottom: 15px;
}

.box-content h2 {
  margin-bottom: 15px;
  color: #006d43;
}
