.best_sellers {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: rgb(223, 48, 48);
  font-weight: 600;
}

.suppliers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  margin: 10px;
  background-color: #c5d6a1;
}

.supply {
  background-color: #a0bec6;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s;
}

.supply:hover {
  transform: translateY(-5px);
}

.supply_img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-size: cover;
}

.supply_details {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
