.profile-page {
  font-family: Arial, sans-serif;
  background: url('../assets/images/Other/login_bg.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Profile container */
.profile-container {
  background-color: #138130;
  padding: 20px;
  width: 60%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header */
.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-header h2 {
  font-size: 24px;
  color: #98f125;
}

.logout-btn {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #8f130f;
}

/* Body */
.profile-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-img-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 3px solid #0aa044;
  background-image: url('../assets/images/Farmers/farmer1.jpg');
  background-size: cover;
  background-position: center;
}

/* Details */
.profile-details {
  max-width: 500px;
  text-align: center;
}

.profile-details p {
  font-size: 20px;
  margin: 8px 0;
}

.profile-details input {
  padding: 5px;
  font-size: 16px;
}

/* Buttons */
.button-group {
  position: relative;
  height: 50px;
  margin-top: 10px;
}

.edit-btn {
  background-color: #1a37e0;
  color: white;
}

.save-btn {
  background-color: #4caf50;
  color: white;
}

.portal-link {
  color: white;
  text-decoration: none;
}

.portal-link:hover {
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}
